<!-- MATH LOGIC IN ORDER TO GET AVERAGES COUNTS ETC -->
<% @tweets = Tweet.where(:user_id => params[:id]).all %>

<% @negative = {:score => 0, :count => 0} %>
<% @neutral = {:score => 0, :count => 0} %>
<% @positive = {:score => 0, :count => 0} %>
<% @max_score_positive = {:max => 0, :posTweetText => ""} %>
<% @max_score_negative = {:max => 0, :negTweetText => ""} %>
<% scores_array = [] %>
<% @result = "" %>

<% @tweets.each do |tweet| %>
<% scores_array << tweet[:score] %>
	<% if tweet[:sentiment_type] == "positive" %>
		<% @positive[:score] += tweet[:score] %>
		<% @positive[:count] += 1 %>

		<% if @max_score_positive[:max] < tweet[:score]%>
			<% @max_score_positive[:max] = tweet[:score] %>
			<% @max_score_positive[:posTweetText] = tweet[:tweet]%>
		<% end %>
	<% end %>

	<% if tweet[:sentiment_type] == "negative" %>
		<% @negative[:score] += tweet[:score] %>
		<% @negative[:count] += 1 %>

		<% if @max_score_negative[:max] > tweet[:score]%>
			<% @max_score_negative[:max] = tweet[:score] %>
			<% @max_score_negative[:negTweetText] = tweet[:tweet]%>
		<% end %>
	<% end %>

	<% if tweet[:sentiment_type] == "neutral" %>
		<% @neutral[:score] += tweet[:score] %>
		<% @neutral[:count] += 1 %>
	<% end %>
<% end %>

<% if @positive[:count] > @negative[:count] && @positive[:count] > @neutral[:count] %>
	<% @result = "Positive" %>
<% elsif @negative[:count] > @positive[:count] && @negative[:count] > @neutral[:count] %>
	<% @result = "Negative" %>
<% else %>
	<% @result = "Neutral" %>
<% end %>

<% positiveAverage = number_with_precision((@positive[:score]/@positive[:count])*100, :precision => 2).to_i%>
<% negativeAverage = -number_with_precision((@negative[:score]/@negative[:count])*100, :precision => 2).to_i%>
<% testing = @positive[:count] + @negative[:count] + @neutral[:count]%>

<% total_count = scores_array.size.to_i%>

<!-- MATH LOGIC ENDS HERE -->

<div class="showPage">
	<h1>You are a <%= @result %> tweeter!!</h1>
	<% @user[:result] = @result %> 
	<% @user.save %> 

	<div id="slider">
		<%= image_tag "firstChart.png", alt: "alt", title: "Rated Tweets" %>
		<%= image_tag "secondChart.png", alt: "alt", title: "Average Scores" %>
		<%= image_tag "side_gaph_chart.png", alt: "alt", title: "Tweets Overview" %>
		<%= image_tag "line_transparent.png", alt: "alt", title: "History of Tweets" %>
	</div>   

		<h2>These are the tweets evaluated with the top positive and negative scores</h2>
	<div class="tweetBlocks">
		<h2>Highest Positve Score: <%= number_with_precision(@max_score_positive[:max]*100, :precision => 2) + "%" %></h2>
		<blockquote class="twitter-tweet"><p><%= @max_score_positive[:posTweetText]%></p><a href="https://twitter.com/<%= @user.nickname %>"></a>-<%= @user.name %> (@<%= @user.nickname %>)</blockquote>
		<h2>Lowest Negative Score: <%= number_with_precision(@max_score_negative[:max]*100, :precision => 2) + "%" %> </h2>
		<blockquote class="twitter-tweet"><p><%= @max_score_negative[:negTweetText]%></p><a href="https://twitter.com/<%= @user.nickname %>"></a>-<%= @user.name %> (@<%= @user.nickname %>)</blockquote>	
	</div>
</div>

<div class="scoreShare">
	<h2><%= link_to 'Share your score on Twitter!', user_tweets_path, :method => :get %></h2>
</div>

<!-- BUILDING THE GRAPHS DOWN BELOW -->

<!-- PIE CHART -->
    <% @graph.title = "Rated Tweets" %>
    <% @graph.theme = {:colors => %w(black grey), :marker_color => 'grey', :font_color => 'black', :background_colors => 'transparent'} %>
    <% @graph.data 'Postive Count', @positive[:count] %> 
    <% @graph.data 'Negative Count', @negative[:count] %>
    <% @graph.data 'Neutral Count', @neutral[:count] %>
    <% @graph.marker_count = 1 %>
    <% @graph.write("app/assets/images/firstChart.png") %>
<!-- GRAPHBAR -->
    <% @graphBar.title = "Average Positive Score vs Negative Score" %>
    <% @graphBar.legend_margin = 25 %>
    <% @graphBar.theme = {:colors => %w(black grey), :marker_color => 'grey', :font_color => 'black', :background_colors => 'transparent'} %>
    <% @graphBar.labels = {0 => 'Positive', 1 => 'Negative'} %>
    <% @graphBar.data "Overall Positive: #{positiveAverage}%", positiveAverage%> 
    <% @graphBar.data "Overall Negative: #{negativeAverage}%", negativeAverage%>
    <% @graphBar.minimum_value = 0 %>
    <% @graphBar.write("app/assets/images/secondChart.png") %>
<!-- SIDE BAR GRAPH -->
	<% @graphBarSide.title = "Tweets Overview" %>
    <% @graphBarSide.legend_margin = 25 %>
    <% @graphBarSide.theme = {:colors => %w(black grey), :marker_color => 'grey', :font_color => 'black', :background_colors => 'transparent'} %>	
    <% @graphBarSide.labels = {0 => 'Positive', 0.1 => 'Negative'} %>
    <% @graphBarSide.data "Total tweet Count #{total_count}", total_count%> 
    <% @graphBarSide.data "Tweets marked as Positive", @positive[:count]%> 
    <% @graphBarSide.data "Tweets marked as Negative", @negative[:count]%>
    <% @graphBarSide.data "Tweets marked as Neutral", @neutral[:count]%>
    <% @graphBarSide.minimum_value = 0 %>
    <% @graphBarSide.write("app/assets/images/side_gaph_chart.png") %>
<!-- LINE GRAPH -->
	<% @graphLine.title = "History of Tweets" %>
    <% @graphLine.theme = {:colors => %w(black grey), :marker_color => 'grey', :font_color => 'black', :background_colors => 'transparent'} %>
    <% @graphLine.labels = {0 => 'First Tweet', 105 => 'Last Tweet'} %>
    <% @graphLine.data(:scores, scores_array) %>
    <% @graphLine.write('app/assets/images/line_transparent.png') %>
 

