

<div class="row">
	<div class="col-sm-2"></div>

	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-12 col-sm-6 col-md-8">
		<div class="userInfo">
			<h1>Hello! <%= @user.name %></h1>
			<h2><%= link_to "Click here for the personality test!", "/user/#{@user.id}/tweets", :method => :create, class: 'personality-test' %></h2>
			<h3>Nickname: <%= @user.nickname %></h3>
			<h3>Description: <%= @user.description %></h3>
			<h3>Location: <%= @user.location %></h3>
			<a href="profile.html"><img src="assets/profile.jpg" class="img-circle" width="60"></a>
		</div>
	</div>	
</div>

<script type="text/javascript">
	$('.personality-test').on('click', function() {
		$('.loading-overlay').show();
  	});
</script>

