<!DOCTYPE html>
<html>
	<body id="page-top" class="index">
		<head>
			<title>TwitterSentimentAnalysis</title>
			<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
			<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
			<%= csrf_meta_tags %>

			<meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		    <meta name="description" content="">
		    <meta name="author" content="">

		    <title>iTweetSense</title>

		    <!-- Bootstrap Core CSS -->
		    <link href="assets/bootstrap.min.css" rel="stylesheet">

		    <!-- Theme CSS -->
		    <link href="assets/freelancer.min.css" rel="stylesheet">

		    <!-- Custom Fonts -->
		    <link href="assets/font-awesome.min.css" rel="stylesheet" type="text/css">
		    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
		</head>
	<link href='https://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
	<h2> <%= flash[:message] %></h2>
	<nav class="navbar navbar-inverse" role="navigation">
		 <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="http://lostaunaum.github.io/PortfolioPage">Portfolio</a>
		</div>


	  </div><!-- /.container-fluid -->
	</nav>

	<%= yield %>

<!-- Managed to make the random loading bar work, now the user gets to see all these cool loading bars!  -->

	<% loading_gifs = ['jar_loading.gif', 'coffee_mug_loading.gif', 'car_loading.gif', 'cat_spinner.gif', 'gangnam_loading.gif', 'jumping_loading.gif', 'spinner.gif']%>
	<% r = Random.new %>
	<% @random_gif = loading_gifs[r.rand(0...6) ] %>
	<div class="loading-overlay">
		<div class="loading-image-wrap">
			<div class="loading-image-wrap-inner">
				<img src="<%= asset_path(@random_gif) %>">
			</div>
		</div>
	</div>

		<script type="text/javascript">
			$('.signIn').on('click', function() {
				location.replace("/auth/twitter");
		  	});
		</script>
	</body>
</html>

