<!DOCTYPE html>
<html>
	<body>
		<head>
			<title>TwitterSentimentAnalysis</title>
			<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
			<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
			<%= csrf_meta_tags %>
		</head>
	<link href='https://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
	<h2> <%= flash[:message] %></h2>
	<nav class="navbar navbar-inverse" role="navigation">
		 <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="http://lostaunaum.github.io/PortfolioPage">Portfolio</a>
		</div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
		<% if @current_user %>
			<li><%= link_to 'Sign Out', signout_path, :method => :post %></li>
			<li><%= link_to 'Profile', user_path(@current_user.id), :method => :get %></li>
			<li><%= link_to 'Statistics', "/user/#{@current_user.id}/tweets/#{@current_user.id}", :method => :get %></li>
		<% else %>
			<li><%= link_to 'Home', root_path, :method => :get %></li>
			<li><%= link_to 'Sign in', "/auth/twitter", :method => :get %></li>
		<% end %>
	    <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Marco's Info! <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li class="divider"></li>
	            <li><a href="https://github.com/lostaunaum">GitHub</a></li>
	            <li class="divider"></li>
	            <li><a href="https://www.linkedin.com/in/lostaunaum">Linkedin</a></li>
	            <li class="divider"></li>
	            <li><a href="https://www.twitter.com/lostaunaum">Twitter</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<!-- 	<div class"dfooter">
		<div class="dfooter1">
		</div>
		<div class="dfooter2">
		</div>
	</div> -->
	<%= yield %>
	<% loading_gifs = ['jar_loading.gif', 'coffee_mug_loading.gif', 'car_loading.gif', 'cat_spinner.gif', 'gangnam_loading.gif', 'jumping_loading.gif', 'spinner.gif']%>
	<% r = Random.new %>
	<% @random_gif = loading_gifs[r.rand(0...6) ] %>
	<div class="loading-overlay">
		<div class="loading-image-wrap">
			<div class="loading-image-wrap-inner">
				<img src="<%= asset_path('gangnam_loading.gif') %>">
			</div>
		</div>
	</div>
	</body>

</html>

